config TOUCHSCREEN_GT9110
        tristate "Goodix GT9110 touchscreen"
        depends on I2C
        default y
        help
                Say Y here if you have a Goodix GT9110 touchscreen
                If unsure, say N.
